body {
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-direction: row-reverse;
}

.slide{
    animation: slideIn 7s 1 ease-in-out;
    -webkit-animation: slideIn 7s 1 ease-in-out;
}

h2,h1 {
    text-transform: uppercase;
}

p,
h2,h1 {
    text-align: center;
}


img{
    max-height: 400px;
    height: 57vw;
}

button{
    background-color: #4a4a69;
    color: rgb(255 255 255);
    font-weight: 500;
    padding: 10px 16px;
}


@keyframes slideIn {
    from{
        transform: translateX(-100vw);
        -webkit-transform: translateX(-100vw);
        -moz-transform: translateX(-100vw);
        -ms-transform: translateX(-100vw);
        -o-transform: translateX(-100vw);
}
to{
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
}