* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

body {
    display: inline-flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
    background: inherit;
    height: 100vh;

}

[incoming] {
    pointer-events: none;
}

html {
    scroll-behavior: smooth;
}

.slide {
    animation: slideIn 7s 1 ease-in-out;
    -webkit-animation: slideIn 7s 1 ease-in-out;
}

h2,
h1 {
    text-transform: uppercase;
}

p,
h2,
h1 {
    text-align: center;
}


img,
svg,
[image] {
    max-width: 500px;
}

button {
    background-color: #4a4a69;
    color: rgb(255 255 255);
    font-weight: 500;
    padding: 10px 16px;
}



[animate] {
    position: fixed;
    left: 0;
}

[animate="in"] {
    z-index: 1;
    animation-name: slideIn;
    -webkit-animation-name: slideIn;
}

[animate="out"] {
    animation-name: slideOut;
    -webkit-animation-name: slideOut;
}

article {
    box-shadow: -1px 0px 9px 2px #1c1c20;
    background: inherit;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    /* padding: 0 24px; */

    animation-duration: inherit;
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    animation-iteration-count: 1;
    /* animation-direction: reverse; */

    -webkit-animation-duration: inherit;
    -webkit-animation-iteration-count: 1;
}


@keyframes slideIn {
    from {
        transform: translateX(100vw);
        -webkit-transform: translateX(100vw);
        -moz-transform: translateX(100vw);
        -ms-transform: translateX(100vw);
        -o-transform: translateX(100vw);
    }

    to {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

    to {
        transform: translateX(-40vw);
        -webkit-transform: translateX(-40vw);
        -moz-transform: translateX(-40vw);
        -ms-transform: translateX(-40vw);
        -o-transform: translateX(-40vw);
}
}

[type="404"] .st0 {
    fill: #E3E5FC;
}

[type="404"] .st1 {
    fill: #FFFFFF;
}

[type="404"] .st2 {
    fill: none;
    stroke: #FFFFFF;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

[type="404"] .st3 {
    fill: #FDC510;
}

[type="404"] .st4 {
    fill: #5A54FF;
}

[type="404"] .st5 {
    fill: #978CFF;
}

[type="404"] .st6 {
    fill: #F44E4E;
}

[type="about"] .st0 {
    fill: #E3E5FC;
}

[type="about"] .st1 {
    fill: #FFFFFF;
}

[type="about"] .st2 {
    fill: #A7ADFF;
}

[type="about"] .st3 {
    fill: #FDC510;
}

[type="about"] .st4 {
    fill: #F44E4E;
}

[type="about"] .st5 {
    fill: #4B369D;
}

[type="about"] .st6 {
    fill: #978CFF;
}

[type="about"] .st7 {
    fill: #D4A79A;
}

[type="about"] .st8 {
    fill: #EAC2AB;
}

[type="about"] .st9 {
    fill: #5A54FF;
}

[type="home"] .st0 {
    fill: #A7ADFF;
}

[type="home"] .st1 {
    fill: #FFFFFF;
}

[type="home"] .st2 {
    fill: #E3E5FC;
}

[type="home"] .st3 {
    fill: #4B369D;
}

[type="home"] .st4 {
    fill: #F44E4E;
}

[type="home"] .st5 {
    fill: #FDC510;
}

[type="home"] .st6 {
    fill: #978CFF;
}

[type="home"] .st7 {
    fill: #FFECA7;
}

[type="home"] .st8 {
    fill: #F9AE10;
}

[type="home"] .st9 {
    fill: #F9DC2C;
}

[type="home"] .st10 {
    fill: #D4A79A;
}

[type="home"] .st11 {
    fill: #EAC2AB;
}

[type="home"] .st12 {
    fill: #F3AA02;
}

[type="home"] .st13 {
    fill: #5A54FF;
}

[type="home"] .st14 {
    fill: #D7384E;
}