* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    width: auto;
    overflow: auto;
    scroll-behavior: smooth;
    padding: 36px 7vw;
    background: inherit;

}

[incoming] {
    pointer-events: none;
}

html {
    scroll-behavior: smooth;
}

.slide {
    animation: slideIn 7s 1 ease-in-out;
    -webkit-animation: slideIn 7s 1 ease-in-out;
}

h2,
h1 {
    text-transform: uppercase;
}

p,
h2,
h1 {
    text-align: center;
}


img {
    max-height: 400px;
    height: 57vw;
    min-width: 450px;
}

button {
    background-color: #4a4a69;
    color: rgb(255 255 255);
    font-weight: 500;
    padding: 10px 16px;
}



[animate] {
    position: fixed;
    animation-duration: 400ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

[animate="in"] {
    z-index: 1;
    animation-name: slideIn;
}

[animate="out"] {
    animation-name: slideOut;
}

article {
    /* box-shadow: inset -5px 0px 0px red; */
    background: inherit;
}

@keyframes slideIn {
    from {
        transform: translateX(100vw);
        -webkit-transform: translateX(100vw);
        -moz-transform: translateX(100vw);
        -ms-transform: translateX(100vw);
        -o-transform: translateX(100vw);
    }

    to {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

    to {
        transform: translateX(-50vw);
        -webkit-transform: translateX(-50vw);
        -moz-transform: translateX(-50vw);
        -ms-transform: translateX(-50vw);
        -o-transform: translateX(-50vw);
    }
}